{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "proseWrap": "always",
  "useTabs": false,
  "jsxSingleQuote": true,
  "useEditorConfig": false,
  "enableDebugLogs": true
}
