@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: absolute
  z-index: 1
  // z-index: -1
  top: 0
  left: 0
  min-width: 100%
  max-width: 100%
  min-height: 100%
  max-height: 100%

.line
  position: absolute
  top: 0
  min-height: 100%
  max-height: 100%
  min-width: f.px(1)
  max-width: f.px(1)
  @include m.dye(bg, c.$lambda) 


.line1
  left: 50% // desktop 728px

.line2
  left: 36.3% // desktop 472px

.line3
  right: 9.3% // desktop 120px  