@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: relative
  min-width: 100%
  max-width: 100%
  min-height: f.px(2)
  max-height: f.px(2)
  @include m.dye(bg, c.$zeta)

.progressLine
  position: absolute
  top: 0
  left: 0
  min-height: f.px(2)
  max-height: f.px(2)
  @include m.dye(bg, c.$alpha)