@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: relative
  @include m.dye(bg, c.$alpha)
  @include m.dye(c, c.$omega)

.wrapper
  display: flex
  min-height: 100%
  max-height: 100%

.content
  display: flex
  flex-direction: column
  flex-grow: 1
  padding-bottom: 0

.p
  @include m.dye(c, c.$beta)

.link
  text-decoration: none
  @include m.dye(c, c.$beta)

.list
  display: flex
  margin-bottom: f.px(56)

.listItem
  display: flex
  flex-direction: column
  & + .listItem
    margin-left: 11.7%

.SvgGeneralLogoAltContainer
  position: relative
  margin-top: auto
  overflow: hidden
  min-width: 100%
  max-width: 100%
  min-height: f.px(387)

.SvgGeneralLogoAlt
  position: absolute
  top: 0
  left: 0
  min-width: f.px(459)
  max-width: f.px(459)
  min-height: f.px(829)
  max-height: f.px(829)