@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  @include m.dye(bg, c.$alpha)
  @include m.dye(c, c.$omega)

.copy
  margin: 0
  font-size: f.px(14)
  font-weight: 600
  line-height: 120%
  text-align: center
  @include m.dye(c, c.$phi)