@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: relative
  display: flex
  min-height: 100vh

.wrapper
  margin-left: 7.9%
  margin-right: 7.9%

.top,
.bottom
  max-width: f.px(993)

.top
  padding-top: f.px(48)

.bottom
  position: relative

.ImgGeneralOilRig
  position: absolute
  z-index: -1
  top: 50%
  right: 0
  transform: translate(35%, -50%)

.h1
  display: flex
  flex-direction: column
  margin: 0
  margin-top: f.px(128)

.titleBottom
  align-self: flex-end

.p
  max-width: 15ch
  margin: 0
  margin-top: f.px(65)
  margin-left: auto