@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  display: flex
  flex-grow: 1
  min-height: 100vh
  min-width: 100vw
  @include m.media(phone, tablet)
    padding-right: f.px(6)

.menu
  z-index: 2

.content
  position: relative
  overflow: hidden
  flex-grow: 1
  padding-top: f.px(2)

.GeneralProgressLine
  position: absolute
  top: 0
  left: 0
  min-width: 100%
  max-width: 100%

// TODO: add @supports for older browsers
.contentLeftGapXl
  flex-grow: 1
  display: grid
  @include m.media(phone, tablet)
    grid-template-columns: 1fr 10fr 1fr
  @include m.media(laptop, desktop)
    grid-template-columns: 4fr 5.7fr 2.3fr

$left_gap_m: f.px(104)
$left_gap_xl: f.px(104)

.leftGapM
  padding-left: $left_gap_m

$content_gap_pt_l: f.px(80)
$content_gap_ld_l: f.px(112)
$content_gap_pt_xl: f.px(80)
$content_gap_ld_xl: f.px(128)
.contentTopGapL,
.contentChildTopGapL
  @include m.media(phone, tablet)
    padding-top: $content_gap_pt_l
  @include m.media(laptop, desktop)
    padding-top: $content_gap_ld_l

.contentTopGapXl,
.contentChildTopGapXl
  @include m.media(phone, tablet)
    padding-top: $content_gap_pt_xl
  @include m.media(laptop, desktop)
    padding-top: $content_gap_ld_xl

.contentBottomGapL,
.contentChildBottomGapL
  @include m.media(phone, tablet)
    padding-bottom: $content_gap_pt_l
  @include m.media(laptop, desktop)
    padding-bottom: $content_gap_ld_l

.contentBottomGapXl,
.contentChildBottomGapXl
  @include m.media(phone, tablet)
    padding-bottom: $content_gap_pt_xl
  @include m.media(laptop, desktop)
    padding-bottom: $content_gap_ld_xl

.contentChildLeftGapXl
  padding-left: $left_gap_xl

// .contentChild
//   overflow: hidden

.contentChildleftGapXl
  grid-column-start: 2
  display: flex
  flex-direction: column





