@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: fixed
  top: 0
  left: 0
  display: flex
  flex-direction: column
  align-items: center
  min-width: f.px(120)
  max-width: f.px(120)
  min-height: 100%
  padding-top: f.px(48)
  padding-bottom: f.px(48)
  // @include m.dye(bg, c.$gamma)

.btnPhone
  margin-top: auto