@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  position: sticky
  left: 0
  display: flex
  justify-content: space-between
  align-items: center
  @include m.media(phone, tablet)
    bottom: 0
    min-width: 100%
    max-width: 100%
    padding-top: f.px(10)
    padding-right: f.px(10)
    padding-bottom: f.px(10)
    padding-left: f.px(10)
  @include m.media(laptop, desktop)
    top: 0
    flex-direction: column
    min-width: f.px(120)
    max-width: f.px(120)
    padding-top: f.px(48)
    padding-bottom: f.px(48)
    min-height: 100vh
    max-height: 100vh
  // @include m.dye(bg, c.$gamma)

.decoration
  display: flex
  align-items: center
  @include m.media(phone, tablet)
    min-width: 30%
    max-width: 30%
  @include m.media(laptop, desktop)
    flex-direction: column
    min-height: 30%
    max-height: 30%

.line
  display: inline-block
  @include m.media(phone, tablet)
    min-width: 100% - 30%
    max-width: 100% - 30%
    min-height: f.px(1)
    max-height: f.px(1)
    margin-right: f.px(24 / 2)
  @include m.media(laptop, desktop)
    min-width: f.px(1)
    max-width: f.px(1)
    min-height: 100% - 30%
    max-height: 100% - 30%
    margin-bottom: f.px(24)
  @include m.dye(bg, c.$zeta)

.SvgGeneralArrow
  @include m.media(phone, tablet)
    min-width: f.px(24 / 1.2)
    max-width: f.px(24 / 1.2)
    min-height: f.px(24 / 1.2)
    max-height: f.px(24 / 1.2)
    transform: rotate(-90deg)
  @include m.media(laptop, desktop)
    min-width: f.px(24)
    max-width: f.px(24)
    min-height: f.px(24)
    max-height: f.px(24)
