@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  display: flex
  flex-grow: 1
  min-height: 100vh
  min-width: 100vw

.menu
  z-index: 2

.content
  overflow: hidden
  flex-grow: 1

// TODO: add @supports for older browsers
.contentLeftGapXl
  flex-grow: 1
  display: grid
  grid-template-columns: 4fr 8fr

$content_gap_l: f.px(112)
$content_gap_xl: f.px(128)
.contentTopGapL
  padding-top: $content_gap_l

.contentTopGapXl
  padding-top: $content_gap_xl

.contentBottomGapL
  padding-bottom: $content_gap_l

.contentBottomGapXl
  padding-bottom: $content_gap_xl

.contentChild
  overflow: hidden

.contentChildleftGapXl
  grid-column-start: 2
  display: flex
  flex-direction: column