@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  margin: 0
  font-family: 'Raleway', sans-serif
  font-size: f.px(20)
  font-weight: 400
  line-height: 120%