@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

*,
*:before,
*:after
  box-sizing: inherit

html
  box-sizing: border-box
  scroll-behavior: smooth
  // font-family: SFProDisplay, Arial, sans-serif

body
  font-family: 'Raleway', sans-serif
  @include m.dye(bg, c.$beta)
  @include m.dye(c, c.$psi)

a, button
  cursor: pointer