@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  display: flex
  min-width: f.px(149)
  max-width: f.px(149)

.SvgGeneralLogo
  min-width: f.px(149)
  max-width: f.px(149)
  min-height: f.px(72)
  max-height: f.px(72)