@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  margin: 0
  padding: 0
  padding: f.px(5)
  border: 0
  background: none

.SvgGeneralMenu
  min-width: f.px(56)
  max-width: f.px(56)
  min-height: f.px(16)
  max-height: f.px(16)