@use "sass:math"
@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.container
  @include m.dye(bg, c.$gamma)

.top
  display: flex
  @include m.media(phone, tablet)
    flex-direction: column
  @include m.media(laptop, desktop)
    align-items: center

.p
  @include m.media(phone, tablet)
    margin-top: f.px(32)
  @include m.media(laptop, desktop)
    max-width: 24ch
    margin-left: f.px(48)

.GeneralProgressLine
  @include m.media(phone, tablet)
    margin-top: f.px(32)
  @include m.media(laptop, desktop)
    margin-top: f.px(80)