@use '@/styles/utils/mixins' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/config/Colors.module.sass' as c

.contentClassNames
  @include m.media(phone, tablet)
    padding-bottom: 0

.heading
  display: flex
  align-items: flex-start
  justify-content: space-between

.title
  @include m.media(phone, tablet)
    margin-bottom: f.px(36)

.counterP
  position: relative
  font-family: 'Montserrat', sans-serif
  @include m.media(phone, tablet)
    font-size: f.px(24)
  @include m.media(laptop, desktop)
    font-size: f.px(32)
  font-weight: 600
  line-height: 120%
  letter-spacing: 0.09em
  text-transform: uppercasew

.GeneralProgressLine
  position: absolute
  bottom: f.px(-10)
  left: 0

.listItem
  flex-direction: column

.p
  @include m.media(laptop, desktop)
    max-width: 32ch
    // margin-left: auto
    // text-align: right

.ImgServiceIllustration
  @include m.media(phone, tablet)
    margin-top: -25%
    transform: translateY(25%)
  @include m.media(laptop, desktop)
    transform: translateX(f.px(-85))

.ReactNodeImage
  @include m.media(phone, tablet)
    order: 2

.img
  @include m.media(phone, tablet)
    margin-top: f.px(32)
    margin-bottom: f.px(32)
  @include m.media(laptop, desktop)
    margin-top: f.px(80)
